apiVersion: v1beta1
kind: AgentConfig
rendezvousIP: {{ hosts[0].ip }}
additionalNTPSources:
- {{ env("AUX_HOST") }}
{%- if env("UNCONFIGURED_INSTALL") == "false" || env("IGNORE_UNCONFIGURED_INSTALL", default="False") == "true" +%}
hosts:
{%- for host in hosts %}
- name: {{ host.name }}
  role: {{ host.name[:-3] }}
  rootDeviceHints:
      deviceName: {{ host.root_device }}
      {%- if host.root_dev_hctl|length %} hctl: {{ host.root_dev_hctl }} {% endif %}
  interfaces:
    - name: {{ host.baremetal_iface }}
      macAddress: {{ host.mac }}
  networkConfig:
    interfaces:
      - name: {{ host.baremetal_iface }}
        type: ethernet
        state: up
        mac-address: {{ host.mac }}
        {%- if "v4" in env("IP_STACK") +%}
        ipv4:
          enabled: true
          {%- if "static" in env("NETWORK_TYPE") +%}
          address:
            - ip: {{ host.ip }}
              prefix-length: 23
          dhcp: false
          {%- endif +%}
          {%- if "dynamic" in env("NETWORK_TYPE") +%}
          dhcp: true
          {%- endif +%}
        {%- endif +%}
        {%- if "v6" in env("IP_STACK") +%}
        ipv6:
          enabled: true
          {%- if "static" in env("NETWORK_TYPE") +%}
          address:
            - ip: {{ host.ipv6 }}
              prefix-length: 23
          dhcp: false
          {%- endif +%}
          {%- if "dynamic" in env("NETWORK_TYPE") +%}
          dhcp: true
          {%- endif +%}
        {%- endif +%}
      {%- for iface in host.ipi_disabled_ifaces.split(';') %}
      - name: {{ iface }}
        type: ethernet
        state: up
        ipv4:
          enabled: false
          dhcp: false
        ipv6:
          enabled: false
          dhcp: false
      {%- endfor %}
    {%- if "static" in env("NETWORK_TYPE") +%}
    dns-resolver:
      config:
        server:
        {%- if "v4" in env("IP_STACK") +%}
        - {{ env("INTERNAL_NET_IP") }}
        {%- endif +%}
        {%- if "v6" in env("IP_STACK") +%}
        - {{ env("INTERNAL_NET_IP_V6") }}
        {%- endif +%}
    routes:
      config:
        {%- if "v4" in env("IP_STACK") +%}
        - destination: 0.0.0.0/0
          next-hop-address: {{ env("INTERNAL_NET_IP") }}
        {%- endif +%}
        {%- if "v6" in env("IP_STACK") +%}
        - destination: ::/0
          next-hop-address: {{ env("INTERNAL_NET_IP_V6") }}
        {%- endif +%}
          next-hop-interface: {{ host.baremetal_iface }}
          table-id: 254
    {%- endif +%}
{% endfor %}
{%- endif +%}