apiVersion: v1
baseDomain: {{ env("BASE_DOMAIN") }}
metadata:
  name: {{ env("CLUSTER_NAME") }}
networking:
  machineNetwork:
  {%- if "v4" in env("IP_STACK") +%}
  - cidr: {{ env("INTERNAL_NET_CIDR") }}
  {%- endif +%}
  {%- if "v6" in env("IP_STACK") +%}
  - cidr: {{ env("INTERNAL_NET_CIDR_V6") }}
  {%- endif +%}
controlPlane:
  architecture: {{ env("architecture") }}
  hyperthreading: Enabled
  name: master
  replicas: {{ env("masters") }}
compute:
- architecture: {{ env("architecture") }}
  hyperthreading: Enabled
  name: worker
  replicas: {{ env("workers") }}
platform:
{%- if env("masters") == "1" || env("AGENT_PLATFORM_TYPE") == "none" %}
  none: {}
{% else %}
  baremetal:
    apiVIPs: 
    {%- if "v4" in env("IP_STACK") +%}
    - {{ env("API_VIP") }}
    {%- endif +%}
    {%- if "v6" in env("IP_STACK") +%}
    - {{ env("API_VIP_V6") }}
    {%- endif +%}
    ingressVIPs: 
    {%- if "v4" in env("IP_STACK") +%}
    - {{ env("INGRESS_VIP") }}
    {%- endif +%}
    {%- if "v6" in env("IP_STACK") +%}
    - {{ env("INGRESS_VIP_V6") }}
    {%- endif +%}
{% endif %}
